In [1]:
import pandas as pd
import geopy
import numpy as np

In [6]:
#creating a list of columns to be used in the dataframe using l_cols, then reading the data
l_cols=['ADDRESS','STREET_NAME','STATE']
df=pd.read_csv(r"C:\Users\dell\Desktop\GIS portfolio\geocoding\NY-House-Dataset.csv",encoding="ISO-8859-1",usecols=l_cols)
df.head()

,ADDRESS,STATE,STREET_NAME
0,2 E 55th St Unit 803,"New York, NY 10022",East 55th Street
1,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",New York
2,620 Sinclair Ave,"Staten Island, NY 10312",Staten Island
3,2 E 55th St Unit 908W33,"Manhattan, NY 10022",New York
4,5 E 64th St,"New York, NY 10065",New York

In [29]:
#creating a unique column that merges all the information of these columns most efficient way to concatenate more than two columns is by using pandas.series.str.cat()
l_cols_concat=['STREET_NAME','STATE']
df['unique_address']=df['ADDRESS'].str.cat(others=df[l_cols_concat],sep=',',na_rep='')
df.head()

,ADDRESS,STATE,STREET_NAME,Country,unique_address
0,2 E 55th St Unit 803,"New York, NY 10022",East 55th Street,United States Of America,"2 E 55th St Unit 803,East 55th Street,New York..."
1,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",New York,United States Of America,Central Park Tower Penthouse-217 W 57th New Yo...
2,620 Sinclair Ave,"Staten Island, NY 10312",Staten Island,United States Of America,"620 Sinclair Ave,Staten Island,Staten Island, ..."
3,2 E 55th St Unit 908W33,"Manhattan, NY 10022",New York,United States Of America,"2 E 55th St Unit 908W33,New York,Manhattan, NY..."
4,5 E 64th St,"New York, NY 10065",New York,United States Of America,"5 E 64th St,New York,New York, NY 10065"

In [30]:
#creating a string variable 'address1'
address1=df['unique_address'].iloc[0]
print(address1)

2 E 55th St Unit 803,East 55th Street,New York, NY 10022

In [37]:
#create a function service_geocode that takes two arguments g_locator and ADDRESS and if location is not None it returns a tuple of the latitude and longitude and  if it Location is None it returns np.Nan
def service_geocode(g_locator,ADDRESS):
    location=g_locator.geocode(ADDRESS)
    if location!=None:
        return(location.latitude,location.longitude)
    else:
        return np.NaN

In [38]:
#since we are using OpenStreetMap API Nominatim is imported
from geopy.geocoders import Nominatim
geolocator=Nominatim(user_agent="chisengapee@gmail.com",timeout=(10))
location=geolocator.geocode(address1)
print(location)

None

In [ ]:
#apply the service_geocode() function to all column unique_adress
df['LAT_LON']=df['unique_address'].apply(lambda x: service_geocode(geolocator,x))
df[['unique_address','LAT_LON']].head()