In [1]:
import pandas as pd
from geopy.geocoders import Nominatim
from time import sleep

In [7]:
#Given a list of addresses the goal is to geocode the addresses
locations=[
('Norman Thomas HS (ECF)','111 E 33rd St, NYC,New York'),
('Midtown East Campus','233 E 56th St ,NYC, New York'),
('Louis D. Brandels HS','145 W 84th St,NYC,New York'),
('Martin Luther King, Jr. HS','122 Amsterdam Avenue, NYC,New York'),
('P.S. 48','4360 Broadway, NYC New York' )
]
df=pd.DataFrame(locations)
df.head()

                            0                                   1
0      Norman Thomas HS (ECF)         111 E 33rd St, NYC,New York
1         Midtown East Campus        233 E 56th St ,NYC, New York
2        Louis D. Brandels HS          145 W 84th St,NYC,New York
3  Martin Luther King, Jr. HS  122 Amsterdam Avenue, NYC,New York
4                     P.S. 48         4360 Broadway, NYC New York

In [14]:
#concatinating the above two columns into one column
df['locations']=df[0]+','+df[1]
#displaying the result
print(df[['locations']].head())

                                           locations
0  Norman Thomas HS (ECF),111 E 33rd St, NYC,New ...
1   Midtown East Campus,233 E 56th St ,NYC, New York
2    Louis D. Brandels HS,145 W 84th St,NYC,New York
3  Martin Luther King, Jr. HS,122 Amsterdam Avenu...
4                P.S. 48,4360 Broadway, NYC New York

In [8]:
#intialize geocoder
geolocator=Nominatim(user_agent='chisengapee@gmail.com')

In [12]:
#function to get the coordinates
def geocode_places(locations):
    coordinates=geolocator.geocode(locations,timeout=10)
    if coordinates!=None:
        return pd.Series([coordinates.latitude,coordinates.longitude])
    else:
        return pd.Series([None,None])

In [17]:
#applying function to dataset
df[['Latitude','Longitude']]=df['locations'].apply(lambda x: geocode_places(x))
#saving as a csv
df.to_csv("geocoding_assignment.csv",index=False)
print("Geocoding Complete!!!")

Geocoding Complete!!!